# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.suo
*.cache
*.cache
BaseUnitTests/bin/Debug/BaseUnitTests.dll
*.dll
BaseUnitTests/bin/Debug/BaseUnitTests.pdb
*.dll
*.pdb
CoreData/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BaseUnitTests/obj/Debug/BaseUnitTests.csproj.FileListAbsolute.txt
src/WeatherTest.SampleApi.Bbc/obj/Debug/net452/.IncrementalCache
src/WeatherTest.SampleApi.Bbc/bin/Debug/net452/win7-x64/WeatherTest.SampleApi.Bbc.exe
src/WeatherTest.SampleApi.Bbc/bin/Debug/net452/WeatherTest.SampleApi.Bbc.exe
src/WeatherTest.SampleApi.Accu/obj/Debug/net452/dotnet-compile.rsp
src/WeatherTest.SampleApi.Accu/obj/
src/WeatherTest.SampleApi.Accu/bin/
WebTools/obj/
CoreData/obj/
DataLibrary/obj/
DataLibrary.IntegrationTests/obj/
DataLibrary.UnitTests/obj/
DataTools.UnitTests/obj/
DataLibraryCore/obj/
DataTools/obj/
DataToolsCore/obj/
WeatherViewerApplication/bin/
WeatherViewerApplication/obj/
src/WeatherTest.SampleApi.Bbc/obj/
